.navigation {
    margin-top: 50px;
    padding: 0;
    position: sticky;
    top: 0;
    margin-bottom: 50px;
    &__switcher {
        display: none;
    }
    &__list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        max-height: 43.33px;
        z-index: 100;
        &--element {
            border: solid 2px blue;
            background: rgb(45, 45, 83);
            flex-grow: 1;
            text-align: center;
            margin: 0 2px 1px 2px;
            border-radius: 5px;
            line-height: 180%;
            font-size: 22px;
        }
        &--deeper {
            list-style-type: none;
            display: none;
            padding: 0;
            margin-top: 1px;
            &--element {
                border: solid 2px blue;
                background: rgb(45, 45, 83);
                border-radius: 5px;
                margin-bottom: 1px;
                margin-bottom: 1px;
            }
        }
    }
}